body {
    overflow-x:hidden;
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.button {
    width: 12.5rem;
    height: 3.44rem;
    font-size: 1.25rem;
    line-height: 3.44rem;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 300;
    box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,0.5);
    margin-top: 2.19rem;
    text-transform: uppercase;
    transition: ease-in-out 0.3s;
}

.section-header, .section-header {
    font-size: 5.625rem;
    line-height: 5.9375rem;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 700;
    margin-bottom: 2rem;
}

.header .navbar {
    margin: 0;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    transition: ease-in-out 0.7s;
}

.navbar .navbar-brand {
    font-size: 3.125rem;
    line-height: 1.56rem;
    color: #262626;
    font-family: "Pacifico";
    font-weight: 400;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 1rem;
    line-height: 1.56rem;
    color: #262626;
    font-family: "Raleway";
    font-weight: 700;
    padding: 0 1.09375rem;
    text-transform: uppercase;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    margin-top: -0.1875rem;
    border-top: 0.1875rem solid #ff6033;
}

@media (min-width: 768px) {
.nav-scroll {
    background-color: #ffffff;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    transition: ease-in-out 0.7s;
    border-bottom: 0.0625rem solid #262626;
    }
}

@media (max-width: 768px) {
    .header .navbar {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
        margin-top: 1rem;
        font-size: 1.125rem; 
    }

    .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
        margin-top: 1rem;
        border-top: none;
        color: #ff6033;
    }

    nav.navbar {
        background: #eeeeee;
    }
    
    .navbar .container {
        margin-left: 0;
    }
}

.navbar a.navbar-brand:hover {
    color: #ff6033;
}

.header {
    background-image: url(../images/header-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-content h1 {
    font-size: 3.75rem;
    line-height: 5.31rem;
    color: #262626;
    font-family: "Raleway";
}

.header-content p {
    font-size: 1.1rem;
    line-height: 1.69em;
    color: #262626;
    font-family: "Raleway";
    font-weight: 300;    
}

.header-btn {
    background-color: #ff6033;
}

button:hover {
    background-color: #CE2C55;
}

.mouse-scroll {
    bottom: 0.5%;
    left: 50%;  
    transform: translate(-50%, -50%);
    width: 1.5625rem;
    height: 2.8125rem;
    border: 0.125rem solid #262626;
    cursor: pointer;
}

.mouse-wheel {
    height: 0.357rem;
    margin: 0.125rem auto 0;
    width: 0.1875rem;
    background-color: #262626;
    animation: 1.6s ease infinite wheel-up-down;
}

 @keyframes wheel-up-down {
	0% {
        margin-top: 0.125rem;
	    opacity: 0;
	}
	50% {
	    opacity: 1;
	}
	100% {
	    margin-top: 1.25rem;
	    opacity: 0;
	}
}

@media (max-width: 575px) {
    .header {
        background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
                  url(../images/header-bg.png);
    }
    
    .header-content p {
        font-weight: 400;
        color: #000000;
    }

}

.about {
    min-height: 49.375rem;
    background-image: radial-gradient(circle at center, #00c3c3 0%, #00b8b7 32%, #00afae 68%, #009f9f 100%);
}

.about-content {
    min-height: 49.375rem;
}

.about p {
    font-size: 1.1rem;
    line-height: 1.6875rem;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 300;    
    word-break: break-all;
    
}

@media (max-width: 768px) {
    .about .section-header {
        text-align: center;
        font-size: 3rem;
    }
    
    .about p { 
        margin: auto;
        width: 85%;
        text-align-last: center;
    }
}

@media (min-width: 769px) and (max-width: 828px) {
    .about .section-header {
        font-size: 3.2rem;
    }
}

@media (min-width: 828px) and (max-width: 1199px) {
    .about .section-header {
        font-size: 3.5rem;
    }
}

@media (min-width: 1200px) and (max-width: 1275px) {
    .about .section-header {
        font-size: 5.225rem;
    }
}

@media (max-width: 1199px) {
    .about  {
        padding-bottom: 2rem;
    }
}

.services {
    min-height: 49.375rem;
    background-color: #70bfff;
    padding: 5rem 0;
}

.services .container {
    min-height: 49.375rem‬;
}

.services-btns {
    min-height: 49.375rem‬;
    margin: 5rem 0 2rem 0;
}

.services-item {
    width: 100%;
    max-width:25rem;
    height: 6.25rem;
    box-shadow: 0 0.25rem 0.3125rem; 0.125rem rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    cursor: pointer;
    transition: ease-in-out 0.4s;
    margin-bottom: 1.25rem;
}

.services-link {
    padding: 0 32.5% 0 7.5%;
    font-size: 1.25rem;
    line-height: 1.6875rem;
    color: #262626;
    font-family: "Raleway";
    font-weight: 700;
}

.services-link:after {
  position: absolute;
  right: 25%;
  top: 0;
  content: "";
  display: block;
  height: 100%;
  width: 0.0625rem;
  background: #9d9d9d;
}

.services-icon {
  right: 0;
  top: 0;
  font-size: 3.125rem;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.services-item:hover {
    background-color: rgba(255,255,255, 0.5);
    box-shadow: inset 0 0 0 0.1875rem #f7f7f7;
}


.services-header {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (max-width: 400px) {
    .services .section-header {
        font-size: 3.625rem;
        width: 75% !important; 
    }
}

.gallery {
    padding-bottom: 6.25rem;
    background-color: #ffe92f;
    padding-top: 6.25rem;
}

.gallery .section-header {
    color: #262626;
}

.gallery p {
    color: #262626;
    text-align-last: center;
    word-break: break-all;
}

.gallery-box img {
    margin-top: 27px;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
    cursor: pointer;
}

.gallery-box img:hover {
    box-shadow: 4px 8px 40px rgba(0, 0, 0, 0.5); 
}

.gallery-btn {
    margin-top: 45px;
    background-color: #5585a2;
}

@media (max-width: 768px) {
    .gallery p {
        width: 85%;
    }
}

@media (min-width: 769px) { 
    .gallery p {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .gallery .section-header {
        text-align: center;
        font-size: 3rem;
    }
}

.subscribe {
    min-height: 31rem;
    padding: 5rem 0;
    background-image: url(../images/subscribe-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.subscribe .section-header {
    font-size: 2.5rem;
    color: #262626;
}

.subscribe-btn {
    width: 10.625rem;
    background-color: #96b92c;
}

.subscribe .form-control {
    height: 3.44rem;
}

.subscribe .form-control::placeholder {
    font-size: 15px;
    color: #262626;
    font-family: "Raleway";
    font-weight: 300;
}

@media (max-width: 369px) { 
    .subscribe .section-header {
        font-size: 2rem;
    }
}

@media (max-width: 767px) { 
    .subscribe {
        background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
            url(../images/subscribe-bg.png);
    }
    
    .form  {
        justify-content: center;
    }
}

@media (min-width: 575px)and (max-width: 767px) { 
    .subscribe .form-control  {
        margin-bottom: 1rem;
    }
}

.blog {
    min-height: 54rem;
    background-color: #b07cf7;
    padding: 6.25rem 0;
}

.blog p {
    text-align-last: center;
    word-break: break-all;
}

@media (max-width: 768px) {
    .blog p {
        width: 85%;
    }
}

@media (min-width: 769px) { 
    .blog p {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .blog .section-header {
        text-align: center;
        font-size: 3rem;
    }
}

.blog img {
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
}

.post {
    display: inline-block;
    position: relative;
    margin-top: 45px;
    overflow: hidden;
}

.post-date {
    top: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    background-color: #262626;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 32px;
    line-height: 25px;
    font-family: "Raleway";
    font-weight: 700;
}

.post-date-month {
    font-size: 21px;
    line-height: 25px;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: normal;
    padding: 0;
}

.post-title {
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 45px 15px 15px 15px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
}

.post-title h3 {
    font-size: 20px;
    line-height: 25px;
    font-family: "Raleway";
    font-weight: 700;
}

.post-title .post-author {
    width: 100%;
    text-align-last: left;
}

.post img {
    transition: ease-in-out 0.5s;
}

.post:hover img  {
    transform: scale(1.5);
}

.blog-btn {
    background-color: #f72b3b;
}

.contact {
    min-height: 54rem;
    background-image: url(../images/contact-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 6.25rem 0;
}

.contact .section-header {
    color: #262626;
}

.contact p {
    color: #262626;
    text-align-last: center;
    word-break: break-all;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .contact p {
        width: 95%;
    }
}

@media (min-width: 769px) { 
    .contact p {
        width: 29%;
    }
}

@media (max-width: 768px) {
    .contact .section-header {
        text-align: center;
        font-size: 3rem;
    }
}

@media (min-width: 769px) and (max-width: 1199px){ 
    .contact p {
        width: 50%;
    }
}

.contact input, .contact textarea {
    background-color: rgba(0, 196, 195, 0.5);
    font-weight: 700;
    color: #ffffff; 
    font-size: 15px;
    line-height: 25px;
    font-family: "Raleway";
}

.contact input::placeholder, .contact textarea::placeholder {
    color: #ffffff; 
    font-weight: normal;
}

.contact textarea {
    resize: none;
}

.contact textarea:focus, .contact input:focus {
    background-color: #00c4c4;
}

.btn-contact {
    margin: 0;
    background-color: #00c4c4;
}

.contact-item {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 25px;
    color: #262626;
    font-family: "Raleway"; 
}

.contact-title {
    font-size: 17px;
}

@media (max-width: 767px){ 
    .contact-details {
        margin-top: 30px;
    }
    
    .contact-item {
        text-align: center;
    }
}

.footer {
    min-height: 90px;
    background-color: #262626;
    font-size: 16px;
    line-height: 25px;
    color: #b9b9b9;
    font-family: "Raleway";
    font-weight: 300;
}

.footer-logo {
    font-size: 25px;
    line-height: 25px;
    color: #b9b9b9;
    font-family: "Pacifico";
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.footer-logo:hover {
    text-decoration: none;
    color:#ff2b58;
}

.footer .layout-author {
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.footer .layout-author:hover {
    color:#ff2b58 !important;
}

@media (max-width: 575px){ 
    .footer-item {
        margin-top: 20px;
    }